<h2 mat-dialog-title>Crear usuario</h2>
<mat-dialog-content>
    <form [formGroup]="usersForm">
        <div>
            <mat-label class="text-sm font-medium text-slate-500">Nombre</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="name"/>
            </mat-form-field>
        </div>

        <div>
            <mat-label class="text-sm font-medium text-slate-500">Apellidos</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="lastname"/>
            </mat-form-field>
        </div>

        <div>
            <mat-label class="text-sm font-medium text-slate-500">Correo electrónico</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="email"/>
            </mat-form-field>
        </div>

        <div>
            <mat-label class="text-sm font-medium text-slate-500">Rol administrativo</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <mat-select formControlName="role_id">
                    @for (role of roles; track role) {
                        <mat-option [value]="role.value">
                            {{ role.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <div class="space-x-3">
        <button mat-stroked-button color="primary" (click)="onNoClick()">
            Cancelar
        </button>
        <button
            mat-flat-button
            color="primary"
            (click)="createUser()"
            cdkFocusInitial
        >
            Crear usuario
        </button>
    </div>
</mat-dialog-content>
