<!-- Header -->
<div class="relative flex flex-col space-y-5 bg-white py-5 px-8">
    <!-- Title -->
    <div class="text-4xl font-bold">Clientes</div>
    <!-- Actions -->
    <!-- Search -->
    <div class="flex justify-between">
        <div class="w-1/3">
            <mat-form-field appearance="outline" class="w-full">
                <i
                    matPrefix
                    class="fa-solid fa-magnifying-glass ml-3 text-slate-400"
                ></i>
                <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Buscar registro por palabra clave"
                />
            </mat-form-field>
        </div>

        <!--<button mat-flat-button color="primary" class="mt-2">
            <i class="fa-solid fa-plus"></i>&nbsp;Crear usuario
        </button>-->
    </div>
</div>

<table mat-table [dataSource]="clientsList">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre del usuario</th>
        <td mat-cell *matCellDef="let element">
            {{ element.name }} {{ element.lastname }}
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="cellphone">
        <th mat-header-cell *matHeaderCellDef>Número de teléfono</th>
        <td mat-cell *matCellDef="let element">{{ element.cellphone }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
            @for (status of statuses; track status) {
                @if (status.value === element.status) {
                    <span
                        class="{{
                            status.styles
                        }} text-xs font-medium me-2 px-2.5 py-0.5 rounded-full"
                    >
                        {{ status.name }}
                    </span>
                }
            }
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
    [pageSizeOptions]="[10, 30, 50]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
>
</mat-paginator>
