<h2 mat-dialog-title>Permisos</h2>
<div class="flex p-4 mx-6 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50"
     role="alert">
    <i class="fa-solid fa-circle-exclamation mt-1 mr-3"></i>
    <div class="text-justify">
        <span class="font-medium">¡Estás a punto de modificar los permisos de este sistema!</span>
        Los cambios que realices podrían afectar el funcionamiento y la seguridad del sistema. Por favor, asegúrate de
        tener la autorización adecuada y de entender las implicaciones de tus acciones antes de proceder.
    </div>
</div>
<mat-dialog-content>

    @for (item of permissions; track item) {
        <h3 class="capitalize my-3 font-semibold text-amber-600">{{ item.module }}</h3>
        <ul>
            @for (permission of item.permissions; track permission) {
                <li>
                    <mat-checkbox>
                        <span class="uppercase">{{ permission.action }}</span>
                    </mat-checkbox>
                </li>

            }
        </ul>
    }
    <div class="space-x-3">
        <button mat-stroked-button color="primary">Cancelar</button>
        <button mat-flat-button color="primary" cdkFocusInitial>Finalizar</button>
    </div>
</mat-dialog-content>
