<!-- Header -->
<div
    class="flex-0 relative flex flex-col bg-white py-5 px-6 sm:flex-row sm:items-center sm:justify-between md:px-8"
>
    <!-- Title -->
    <div class="text-4xl font-bold">Pedidos</div>
    <!-- Actions -->
    <!-- Search -->
    <div>
        <mat-label class="text-sm font-medium text-slate-500"
            >Buscar registro por palabra clave</mat-label
        >
        <mat-form-field appearance="outline" class="w-full">
            <i
                matPrefix
                class="fa-solid fa-magnifying-glass ml-3 text-slate-400"
            ></i>
            <input matInput />
        </mat-form-field>
    </div>
</div>

<table mat-table [dataSource]="ordersList">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="order_number">
        <th mat-header-cell *matHeaderCellDef>Número de orden</th>
        <td mat-cell *matCellDef="let element">
            <a
                [routerLink]="['/pedidos', element.uuid]"
                class="font-medium text-blue-600 hover:underline"
                >{{ element.order_number }}</a
            >
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="delivery_date">
        <th mat-header-cell *matHeaderCellDef>Fecha de envio</th>
        <td mat-cell *matCellDef="let element">
            {{ element.delivery_date | date }}
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total pagado</th>
        <td mat-cell *matCellDef="let element">
            {{ element.total | currency }}
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Moneda</th>
        <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
            @for (status of statuses; track status) {
                @if (element.status === status.value) {
                    <span
                        class="{{
                            status.style
                        }} text-xs font-medium me-2 px-2.5 py-0.5 rounded-full"
                        >{{ status.name }}</span
                    >
                }
            }
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/pedidos', element.uuid]">
                    <i class="fa-solid fa-up-right-from-square"></i>&nbsp;Ver
                    detalle
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
    [pageSizeOptions]="[10, 30, 50]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
>
</mat-paginator>
