<div class="lg:px-16 lg:py-10">
    <div class="flex flex-col xl:flex-row">
        <div class="flex flex-col w-full p-6 space-y-5">
            <h2 class="text-2xl font-bold leading-7text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                Inicio
            </h2>
        </div>
    </div>
</div>

<!--
<div class="grid grid-cols-4 gap-4">

    <div class="w-full bg-white rounded-xl border p-8 shadow-md">

        <div class="flex flex-col items-center">
            <h1 class="mb-2 text-xl font-semibold tracking-tight text-gray-900">Certificates</h1>
            <h1 class="mb-1 text-6xl font-bold text-green-500">21</h1>
            <span class="text-md text-green-500 mb-6">Tokens</span>
            <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                View more
            </a>
        </div>
    </div>

    <div class="w-full bg-white rounded-xl border p-8 shadow-md">

        <div class="flex flex-col items-center">
            <h1 class="mb-2 text-xl font-semibold tracking-tight text-gray-900">Pending</h1>
            <h1 class="mb-1 text-6xl font-bold text-orange-500">6</h1>
            <span class="text-md text-orange-500 mb-6">Pending</span>
            <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                View more
            </a>
        </div>
    </div>

    <div class="w-full bg-white rounded-xl border p-8 shadow-md">

        <div class="flex flex-col items-center">
            <h1 class="mb-2 text-xl font-semibold tracking-tight text-gray-900">Cancelled</h1>
            <h1 class="mb-1 text-6xl font-bold text-red-500">2</h1>
            <span class="text-md text-red-500 mb-6">Cancelled</span>
            <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                View more
            </a>
        </div>
    </div>

    <div class="w-full bg-white rounded-xl border p-8 shadow-md">

        <div class="flex flex-col items-center">
            <h1 class="mb-2 text-xl font-semibold tracking-tight text-gray-900">Clients</h1>
            <h1 class="mb-1 text-6xl font-bold text-blue-500">30</h1>
            <span class="text-md text-blue-500 mb-6">Clients</span>
            <a href="#" class="inline-flex items-center text-blue-600 hover:underline">
                View more
            </a>
        </div>
    </div>
</div>

<div class="grid gri"></div>
-->
