<div class="relative flex flex-col py-10 px-8 space-y-1 bg-white">
    <div class="text-4xl font-bold">Bienvenido(a) Juan Amaya</div>
    <p class="text-md font-normal text-gray-500">Ultima sesión (aqui va la fecha)</p>
</div>

<div class="grid grid-cols-5 gap-5 p-8">
    <a href="#" class="block p-6 space-y-4 text-center bg-white border border-gray-200 rounded-lg hover:bg-slate-50">
        <i class="fa-solid fa-truck-ramp-box fa-3x"></i>
        <div>
            <h5 class="text-2xl font-bold tracking-tight text-gray-900">Lista de pedidos</h5>
            <p class="text-sm font-normal text-gray-700">Administrar la lista de pedidos</p>
        </div>
    </a>
</div>
