<h2 mat-dialog-title>Crear usuario</h2>
<mat-dialog-content>
    <form [formGroup]="couponsForm">
        <div>
            <mat-label class="text-sm font-medium text-slate-500">Cupón</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput #coupon formControlName="coupon" [maxLength]="10">
                <mat-hint align="end">{{coupon.value.length}} / 10</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-label class="text-sm font-medium text-slate-500">Cantidad</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="quantity">
            </mat-form-field>
        </div>

        <div>
            <mat-label class="text-sm font-medium text-slate-500">Porcentaje de descuento</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <mat-select formControlName="discount_percent">
                    <mat-option value="10">10%</mat-option>
                    <mat-option value="20">20%</mat-option>
                    <mat-option value="30">30%</mat-option>
                    <mat-option value="40">40%</mat-option>
                    <mat-option value="50">50%</mat-option>
                    <mat-option value="60">60%</mat-option>
                    <mat-option value="70">70%</mat-option>
                    <mat-option value="80">80%</mat-option>
                    <mat-option value="90">90%</mat-option>
                    <mat-option value="100">100%</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-label class="text-sm font-medium text-slate-500">Fecha de expiración</mat-label>
            <mat-form-field appearance="outline" class="w-full">
                <input matInput [matDatepicker]="datepicker" [min]="minDate" formControlName="expiration" (click)="datepicker.open()">
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
            </mat-form-field>
        </div>
    </form>

    <div class="space-x-3">
        <button mat-stroked-button color="primary" (click)="onNoClick()">Cancelar</button>
        <button mat-flat-button color="primary" (click)="updateCoupon()" cdkFocusInitial>Editar cupón</button>
    </div>
</mat-dialog-content>
