<div class="relative flex flex-col py-5 px-8 space-y-5 bg-white">
    <div class="flex space-x-3">
        <button mat-button color="primary" (click)="goBack()">
            <i class="fa-solid fa-angle-left fa-xl"></i>
        </button>
        @if (product) {
            <p class="text-3xl font-bold">{{ product.name }}</p>
        }
    </div>
</div>

<div class="mx-16 mt-10 mb-32">
    <div class="grid grid-cols-2">
        @if (productForm) {
            <form [formGroup]="productForm">
                <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-10">
                        <div class="flex justify-between items-center">
                            <div>
                                <h2 class="text-base font-semibold leading-7 text-gray-900">Producto</h2>
                                <p class="text-sm leading-6 text-gray-600">Esta es la información que se vera en el
                                    detalle del
                                    producto</p>
                            </div>

                            <mat-slide-toggle (change)="enableProductForm($event)">Editar producto</mat-slide-toggle>
                        </div>

                        <div class="mt-5">
                            <div>
                                <mat-label class="block text-sm font-medium leading-6 text-gray-900">Nombre del producto
                                </mat-label>
                                <mat-form-field appearance="outline" class="w-3/4">
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            </div>

                            <div class="grid grid-cols-2 gap-5 items-center">
                                <div>
                                    <mat-label class="block text-sm font-medium leading-6 text-gray-900">Precio
                                    </mat-label>
                                    <mat-form-field appearance="outline" class="w-full">
                                        <input matInput currencyMask formControlName="price">
                                        <span matTextPrefix>$&nbsp;</span>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-checkbox (change)="showDiscountSelect($event)"
                                                  [checked]="product.discount_percent ? true : false"
                                                  [disabled]="productForm.disabled">
                                        ¿Tiene descuento?
                                    </mat-checkbox>
                                </div>
                            </div>

                            @if (discountSelect) {
                                <div class="mr-5">
                                    <mat-label class="block text-sm font-medium leading-6 text-gray-900">Porcentaje de
                                        descuento
                                    </mat-label>
                                    <mat-form-field appearance="outline" class="w-1/2">
                                        <mat-select formControlName="discount_percent">
                                            <mat-option value="10">10%</mat-option>
                                            <mat-option value="20">20%</mat-option>
                                            <mat-option value="30">30%</mat-option>
                                            <mat-option value="40">40%</mat-option>
                                            <mat-option value="50">50%</mat-option>
                                            <mat-option value="60">60%</mat-option>
                                            <mat-option value="70">70%</mat-option>
                                            <mat-option value="80">80%</mat-option>
                                            <mat-option value="90">90%</mat-option>
                                            <mat-option value="100">100%</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            }

                            <div class="grid grid-cols-2 gap-5">
                                <div>
                                    <mat-label class="block text-sm font-medium leading-6 text-gray-900">Categoria
                                    </mat-label>
                                    <mat-form-field appearance="outline" class="w-full">
                                        <mat-select formControlName="category_id"
                                                    (selectionChange)="getSubcategories($event)">
                                            @for (category of categories; track category) {
                                                <mat-option [value]="category.id">{{ category.name }}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-label class="block text-sm font-medium leading-6 text-gray-900">Subcategorias
                                    </mat-label>
                                    <mat-form-field appearance="outline" class="w-full">
                                        <mat-select multiple formControlName="subcategories">
                                            <mat-select-trigger>
                                                @if (this.product.subcategories[0]) {
                                                    {{ this.product.subcategories[0].name || '' }}
                                                }
                                                @if ((_subcategories.value?.length || 0) > 1) {
                                                    <span class="text-xs text-slate-400">
                                                      (+{{ (_subcategories.value?.length || 0) - 1 }} {{ _subcategories.value?.length === 2 ? 'subcategoria' : 'subcategorias' }}
                                                        )
                                                    </span>
                                                }
                                            </mat-select-trigger>
                                            @for (subcategory of subcategories; track subcategory) {
                                                <mat-option [value]="subcategory.id">{{ subcategory.name }}</mat-option>
                                            }
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="mr-5">
                                <mat-label class="block text-sm font-medium leading-6 text-gray-900">
                                    Proveedor
                                </mat-label>
                                <mat-form-field appearance="outline" class="w-1/2">
                                    <mat-select multiple formControlName="providers">
                                        <mat-select-trigger>
                                            @if (this.product.providers[0]) {
                                                {{ this.product.providers[0].name || '' }}
                                            }
                                            @if ((_providers.value?.length || 0) > 1) {
                                                <span class="text-xs text-slate-400">
                                                      (+{{ (_providers.value?.length || 0) - 1 }} {{ _providers.value?.length === 2 ? 'proveedor' : 'proveedores' }})
                                                </span>
                                            }
                                        </mat-select-trigger>
                                        @for (provider of providers; track provider) {
                                            <mat-option [value]="provider.id">{{ provider.name }}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-label class="block text-sm font-medium leading-6 text-gray-900">Descripción
                                </mat-label>
                                <mat-form-field appearance="outline" class="w-full">
                                    <textarea matInput rows="4" formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="border-b border-gray-900/10 pb-10">
                        <h2 class="text-base font-semibold leading-7 text-gray-900">Imagenes del producto</h2>
                        <p class="text-sm leading-6 text-gray-600">Selecciona hasta 6 imagenes para mostrar el
                            producto</p>


                        @if (files.length < 6) {
                            <input type="file" class="hidden" multiple (change)="onFileSelected($event)" #images>
                            <button mat-flat-button color="primary" class="mt-5 mb-1" (click)="images.click()"
                                    [disabled]="productForm.disabled">
                                <i class="fa-solid fa-upload"></i>&nbsp;Cargar imagenes
                            </button>
                            <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG (Recomendado: 828 x 640 px)</p>
                        }

                        <div class="mt-5 grid grid-cols-2 md:grid-cols-3 gap-4">
                            @for (image of files; track image) {
                                <div class="relative">
                                    <img class="h-auto max-w-full rounded-lg" [src]="image.url">
                                    @if (productForm.enabled) {
                                        <button class="absolute top-2 right-2" (click)="deleteImage(image)">
                                            <i class="fa-solid fa-circle-xmark fa-lg text-red-600"></i>
                                        </button>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button mat-flat-button color="primary" (click)="updateProduct()" [disabled]="productForm.disabled">
                        <i class="fa-solid fa-circle-check"></i>&nbsp;Actualizar producto
                    </button>
                </div>
            </form>
        }
    </div>
</div>

