<h2 mat-dialog-title>Crear Proveedor</h2>
<mat-dialog-content>
    @if (providersForm) {
        <form [formGroup]="providersForm">
            <div>
                <mat-label class="text-sm font-medium text-slate-500">Nombre del proveedor</mat-label>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-label class="text-sm font-medium text-slate-500">Dirección</mat-label>
                <mat-form-field appearance="outline" class="w-full">
                    <input matInput formControlName="address">
                </mat-form-field>
            </div>
            <div class="grid grid-cols-3 gap-5">
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Pais</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-select formControlName="country_id" (selectionChange)="getStates($event)">
                            @for (country of countries; track country) {
                                <mat-option [value]="country.id">{{ country.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Estado</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-select formControlName="state_id" (selectionChange)="getCities($event)">
                            @for (state of states; track state) {
                                <mat-option [value]="state.id">{{ state.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Municipio</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-select formControlName="city_id">
                            @for (city of cities; track city) {
                                <mat-option [value]="city.id">{{ city.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="grid grid-cols-3 gap-5">
                <div class="col-span-2">
                    <mat-label class="text-sm font-medium text-slate-500">Colonia</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="colony">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Código postal</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="zip">
                    </mat-form-field>
                </div>
            </div>

            <hr class="mb-5">

            <h2 class="text-md mb-5 font-medium text-slate-500">Información del responsable/representante</h2>

            <div class="grid grid-cols-2 gap-5">
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Nombre</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="responsable_name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Apellidos</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="responsable_lastname">
                    </mat-form-field>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-5">
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Correo electrónico</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput type="email" formControlName="responsable_email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-label class="text-sm font-medium text-slate-500">Número de contacto</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="responsable_cellphone">
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="space-x-3">
            <button mat-stroked-button color="primary">Cancelar</button>
            <button mat-flat-button color="primary" (click)="editProvider()" cdkFocusInitial>Actualizar proveedor</button>
        </div>
    } @else {
        <div role="status" class="flex items-center justify-center h-96 w-full bg-gray-200 rounded-lg animate-pulse">
            <i class="fa-brands fa-wpforms h-24 h-24 text-gray-300"></i>
        </div>
    }

</mat-dialog-content>
