<aside class="pt-16 w-72 h-full ">
    <div class="h-full overflow-y-auto py-4 px-4 bg-white">
        <ul class="space-y-1.5 text-sm">
            <div *ngFor="let item of menu">
                <h3 class="uppercase text-xs font-bold px-2.5 pt-2 mb-2">{{ item.name }}</h3>
                <div class="space-y-1">
                    <li *ngFor="let value of item.values">
                        <!--
                            Se debe agregar el modulo de permisos *appPermissionModule="{module: value.module, action: value.action}"
                        -->
                        <a [routerLink]="[value.path]"
                           class="flex items-center p-2 font-normal text-gray-500 rounded-lg hover:bg-slate-200 duration-200">
                            <i class="fa-solid {{value.icon}}"></i>
                            <span class="flex-1 ml-3 whitespace-nowrap">{{ value.title }}</span>
                        </a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</aside>

